<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}DogBreeds API{% endblock %}</title>
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
</head>
<body class="bg-light">
    <nav class="navbar navbar-dark bg-dark mb-4">
        <div class="container">
            <a class="navbar-brand" href="{% url 'lista_razas' %}">🐶 Dog Finder</a>
        </div>
    </nav>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    {% bootstrap_javascript %}
</body>
</html>